.cards{
    border: 1px solid lightgray;
    border-radius: 15px;
    transition: transform 1.1s;
    margin-bottom: 50px;
}
.cards:hover{
    transform: scale(1.1); 
}
.cards img{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}